@model DHRMVCCore.Models.Actum

@{
    ViewData["Title"] = "Create";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in (v2)</title>


    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

    <!-- jQuery Inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

</head>

@* <h1>Create</h1>

<h4>Obra</h4>
<hr /> *@
<body class="hold-transition login-page">
    <div class="login-box" style="width:20rem;">
        <img src="../../dist/img/logo_bravoizquierdo.jpg" alt="Descripción de la imagen" class="img-thumbnail">
        <!-- Input addon -->
        <div class="card card-info">
            <div class="card-header" style="background-color: #8a0602;">
                <h3 class="card-title" style="text-align: center;">BI DHR CREAR OBRA</h3>
            </div>
            <div class="card-body">
                <div class="col-md-10">
                    <div class="row">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @* <div class="form-group">
                                <label asp-for="FechaPresentacion" class="control-label"></label>
                                <input asp-for="FechaPresentacion" class="form-control" />
                                <span asp-validation-for="FechaPresentacion" class="text-danger"></span>
                            </div> *@
@*                             <div class="form-group">
                                <label asp-for="EstadoActa" class="control-label">Número Estado Pago</label>
                                <input asp-for="EstadoActa" class="form-control" />
                                <span asp-validation-for="EstadoActa" class="text-danger"></span>
                            </div> *@
                            @* <div class="form-group">
                                <label asp-for="FechaApro" class="control-label"></label>
                                <input asp-for="FechaApro" class="form-control" />
                                <span asp-validation-for="FechaApro" class="text-danger"></span>
                            </div> *@
                            @* <div class="form-group">
                                <label asp-for="JefeTerrenoIdJefeterreno" class="control-label"></label>
                                <select asp-for="JefeTerrenoIdJefeterreno" class ="form-control" asp-items="ViewBag.JefeTerrenoIdJefeterreno"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="OficinaTecnicaIdOfitec" class="control-label"></label>
                                <select asp-for="OficinaTecnicaIdOfitec" class ="form-control" asp-items="ViewBag.OficinaTecnicaIdOfitec"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ExpertoPrevencionIdExpertoprev" class="control-label"></label>
                                <select asp-for="ExpertoPrevencionIdExpertoprev" class ="form-control" asp-items="ViewBag.ExpertoPrevencionIdExpertoprev"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="EncargadoCalidadIdEncargadocali" class="control-label"></label>
                                <select asp-for="EncargadoCalidadIdEncargadocali" class ="form-control" asp-items="ViewBag.EncargadoCalidadIdEncargadocali"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="AdministradorObraIdEncalidad" class="control-label"></label>
                                <select asp-for="AdministradorObraIdEncalidad" class ="form-control" asp-items="ViewBag.AdministradorObraIdEncalidad"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="EspBimIdEspBim" class="control-label"></label>
                                <select asp-for="EspBimIdEspBim" class ="form-control" asp-items="ViewBag.EspBimIdEspBim"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="JefeBodegaIdJefeBodega" class="control-label"></label>
                                <select asp-for="JefeBodegaIdJefeBodega" class ="form-control" asp-items="ViewBag.JefeBodegaIdJefeBodega"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ObsObrasIdObservacion" class="control-label"></label>
                                <select asp-for="ObsObrasIdObservacion" class ="form-control" asp-items="ViewBag.ObsObrasIdObservacion"></select>
                            </div> *@
                            <div class="form-group">
                                <label asp-for="ObraIdObra" class="control-label"></label>
                                <select asp-for="ObraIdObra" class ="form-control" asp-items="ViewBag.ObraIdObra"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="RazonSocialIdRazonSocial" class="control-label"></label>
                                <select asp-for="RazonSocialIdRazonSocial" class ="form-control" asp-items="ViewBag.RazonSocialIdRazonSocial"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="EspecialidadIdEspecialidad" class="control-label"></label>
                                <select asp-for="EspecialidadIdEspecialidad" class ="form-control" asp-items="ViewBag.EspecialidadIdEspecialidad"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NumPago" class="control-label"></label>
                                <input asp-for="NumPago" class="form-control" />
                                <span asp-validation-for="NumPago" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-danger btn-lg" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="col-auto">
                                        <a asp-action="ListarActas" class="btn btn-light btn-lg">Volver</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>